body {
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    line-height: 1rem;
    background-color: #d2d2d2;
}

.containrer1-full {
    width: 100%;
    background-color: #fff;
}

.container1 {
    max-width: 1150px;
    margin: 0 auto;
    background-color: #fff;
    box-sizing:border-box;
}

header {
    min-height: 80px;
    padding: 10px 20px 0;

}

header a.logo {
    float: left;
    margin-top: 8px;
}

header a.logo img {
    width: 50%;
}

header ul {
    list-style: none;
    float: right;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: #3d3d3d;
    padding: 0 5px;
    margin: 0 10px;    
    width: 100px;
}

header ul li a:hover {
    padding-bottom: 8px;
    border-bottom: 3px solid #ff4e00;
    color: #ff4e00;   
}


* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container2 {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

footer {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.footlogo {
    padding-left: 10px;
    padding-top: 15px;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    padding-left: 15px;
}

footer ul li a {
    text-decoration: none;
    color: #999;
}

footer ul li a:hover {
    color: orange;
}
